<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zthx.npj">

    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.BaseActivity" />
        <activity android:name=".ui.ClassfiyActivity" />
        <activity android:name=".ui.HomeSearchActivity" />
        <activity android:name=".ui.fragment.ClassfiyDetailActivity" />
        <activity android:name=".ui.GoodsDetailActivity" />
        <activity android:name=".ui.SecKillActivity" />
        <activity android:name=".ui.ConfirmOrderActivity" />
        <activity android:name=".ui.PreSellActivity" />
        <activity android:name=".ui.LocationStoreActivity" />
        <activity android:name=".ui.StoreDetailActivity" />
        <activity android:name=".ui.PayToStoreActivity" />
        <activity android:name=".ui.StoreManagerActivity" />
        <activity android:name=".ui.StoreManagerBillActivity" />
        <activity android:name=".ui.StoreManagerCenterActivity" />
        <activity android:name=".ui.StoreManagerQRCodeActivity"></activity>
    </application>

</manifest>