<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zthx.npj">

    <!-- 权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="YRVAXKxrmD46vVWAeGdIOBI1YDq40lKo"></meta-data>

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".ui.BaseActivity" />
        <activity android:name=".ui.ClassfiyActivity" />
        <activity android:name=".ui.HomeSearchActivity" />
        <activity android:name=".ui.fragment.ClassfiyDetailActivity" />
        <activity android:name=".ui.GoodsDetailActivity" />
        <activity android:name=".ui.SecKillActivity" />
        <activity android:name=".ui.ConfirmOrderActivity" />
        <activity android:name=".ui.PreSellActivity" />
        <activity android:name=".ui.LocationStoreActivity" />
        <activity android:name=".ui.StoreDetailActivity" />
        <activity android:name=".ui.PayToStoreActivity" />
        <activity android:name=".ui.StoreManagerActivity" />
        <activity android:name=".ui.StoreManagerBillActivity" />
        <activity android:name=".ui.StoreManagerCenterActivity" />
        <activity android:name=".ui.StoreManagerQRCodeActivity" />
        <activity android:name=".ui.GiftActivity" />
        <activity android:name=".ui.AgricultureKnowledgeActivity" />
        <activity android:name=".ui.SystemSolutionActivity" />
        <activity android:name=".ui.AgricultureVideoMainActivity" />
        <activity android:name=".ui.BuyVideoActivity" />
        <activity android:name=".ui.fragment.SupplyMessageActivity" />
        <activity android:name=".ui.SupplyProductsActivity" />
        <activity android:name=".ui.SupplyBillActivity" />
        <activity android:name=".ui.AddAddressActivity" />
        <activity android:name=".ui.ChoiceAddressActivity" />
        <activity android:name=".ui.MessageCenterActivity" />
        <activity android:name=".ui.SystemMessageActivity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.ModifyNameActivity" />
        <activity android:name=".ui.MyAchievementActivity" />
        <activity android:name=".ui.AskForPartnerActivity" />
        <activity android:name=".ui.SpokesmanRightsNoPermissionActivity" />
        <activity android:name=".ui.ConfirmAchievementActivity" />
        <activity android:name=".ui.MyCollectActivity" />
        <activity android:name=".ui.MyOrderActivity" />
        <activity android:name=".ui.MyCouponActivity" />
        <activity android:name=".ui.SpokesmanRightsActivity" />
        <activity android:name=".ui.ExtractCashActivity" />
        <activity android:name=".ui.RechargeActivity" />
        <activity android:name=".ui.MyWalletActivity" />
        <activity android:name=".ui.SpeakRewardActivity" />
        <activity android:name=".ui.MyStoreActivity" />
        <activity android:name=".ui.PublishGoodsActivity" />
        <activity android:name=".ui.StoreGoodsListActivity" />
        <activity android:name=".ui.StoreGoodsBillActivity" />
        <activity android:name=".ui.GoodsBillDetailActivity" />
        <activity android:name=".ui.ReturnOrExchangeActivity" />
        <activity android:name=".ui.MyAttestationActivity" />
        <activity android:name=".ui.TrustedStoreActivity" />
        <activity android:name=".ui.TrustedStore2Activity" />
        <activity android:name=".ui.PurchaserCertificationActivity" />
        <activity android:name=".ui.PurchaserCertification2Activity" />
        <activity android:name=".ui.EnterpriseCertificationActivity" />
        <activity android:name=".ui.EnterpriseCertification2Activity" />
        <activity android:name=".ui.RealNameAuthenticationActivity" />
        <activity android:name=".ui.RealNameAuthentication2Activity" />
        <activity android:name=".ui.ConfirmAttestationSuccessActivity" />
        <activity android:name=".ui.HelpActivity" />
        <activity android:name=".ui.HelpDetailActivity" />
        <activity android:name=".ui.FeedbackActivity" />
        <activity android:name=".ui.MySupplyActivity" />
        <activity android:name=".ui.MyBillActivity" />
        <activity android:name=".ui.SupplyManagerActivity" />
        <activity android:name=".ui.WantBuyManagerActivity" />
        <activity android:name=".ui.StoreQuotationListActivity" />
        <activity android:name=".ui.QuotationPeopleDetailActivity" />
        <activity android:name=".ui.ReleaseSupplyActivity" />
        <activity android:name=".ui.LoginActivity"></activity>
        <activity android:name=".ui.CellPhoneLoginActivity" />
        <activity android:name=".ui.InputInvitationCodeActivity" />
        <activity android:name=".ui.LocalSpokesmanActivity" />
        <activity android:name=".ui.AttestationSuccessActivity" />
        <activity android:name=".ui.MembershipPackageActivity" />
        <activity android:name=".ui.ContactReferencesActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

    </application>

</manifest>