<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zthx.npj">

    <!-- 权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 修改音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Optional for location -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- ShortcutBadger -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- ShortcutBadger -->
    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme"> <!-- configChanges设置切屏不重启生命周期，orientation执行一次 -->

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" /> <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
        <!-- 注入百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="PHUVgcMQuv0RmOk9nMH8IGnp5qGduaCy" /> <!-- 活动页面 -->

        <activity
            android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.donkingliang.imageselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/TranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="article"
                    android:pathPrefix="/attr"
                    android:scheme="test" />
            </intent-filter>
        </activity>
        <!-- android:theme="@style/TranslucentTheme" -->
        <activity android:name=".ui.BaseActivity" />
        <activity android:name=".ui.HomeSearchActivity" />
        <activity android:name=".ui.ClassfiyDetailActivity" />
        <activity android:name=".ui.GoodsDetailActivity" />
        <activity android:name=".ui.SecKillActivity" android:launchMode="singleTask"/>
        <activity android:name=".ui.ConfirmOrderActivity" />
        <activity android:name=".ui.PreSellActivity" android:launchMode="singleTask"/>
        <activity android:name=".ui.LocationStoreActivity" />
        <activity android:name=".ui.StoreDetailActivity" />
        <activity android:name=".ui.PayToStoreActivity" />
        <activity android:name=".ui.PayToStoreFinishActivity" />
        <activity android:name=".ui.StoreOrderRefuseActivity" />
        <activity android:name=".ui.StoreManagerActivity" />
        <activity android:name=".ui.StoreManagerBillActivity" />
        <activity android:name=".ui.StoreManagerCenterActivity" />
        <activity android:name=".ui.StoreManagerQRCodeActivity" />
        <activity android:name=".ui.GiftActivity" />
        <activity android:name=".ui.AgricultureKnowledgeActivity" android:launchMode="singleTask"/>
        <activity
            android:name=".ui.SystemSolutionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AgricultureVideoMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.BuyVideoActivity" />
        <activity android:name=".ui.SupplyMessageActivity" />
        <activity
            android:name=".ui.SupplyProductsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.SupplyBillActivity" />
        <activity android:name=".ui.AddAddressActivity"  />
        <activity android:name=".ui.SystemMessageActivity"  />
        <activity android:name=".ui.SettingsActivity"   />
        <activity android:name=".ui.AskForPartnerActivity"  />
        <activity android:name=".ui.SpokesmanRightsNoPermissionActivity"  />
        <activity android:name=".ui.ConfirmAchievementActivity" />
        <activity android:name=".ui.MyCollectActivity" />
        <activity android:name=".ui.MyOrderActivity" />
        <activity android:name=".ui.MyCouponActivity" />
        <activity android:name=".ui.SpokesmanRightsActivity" />
        <activity android:name=".ui.RechargeActivity" />
        <activity android:name=".ui.MyWalletActivity" />
        <activity android:name=".ui.MyStoreActivity" />
        <activity android:name=".ui.PublishGoodsActivity" />
        <activity android:name=".ui.StoreGoodsListActivity" />
        <activity android:name=".ui.StoreGoodsBillActivity" />
        <activity android:name=".ui.GoodsBillDetailActivity" />
        <activity android:name=".ui.MyAttestationActivity" android:launchMode="singleTask" />
        <activity android:name=".ui.TrustedStoreActivity" />
        <activity android:name=".ui.TrustedStore2Activity" />
        <activity android:name=".ui.PurchaserCertificationActivity" />
        <activity android:name=".ui.PurchaserCertification2Activity" />
        <activity android:name=".ui.EnterpriseCertificationActivity" />
        <activity android:name=".ui.EnterpriseCertification2Activity" />
        <activity android:name=".ui.RealNameAuthenticationActivity" />
        <activity android:name=".ui.RealNameAuthentication2Activity" />
        <activity android:name=".ui.ConfirmAttestationSuccessActivity" />
        <activity android:name=".ui.HelpActivity" />
        <activity android:name=".ui.HelpDetailActivity" />
        <activity android:name=".ui.FeedbackActivity" />
        <activity android:name=".ui.MySupplyActivity" />
        <activity android:name=".ui.MyBillActivity" />
        <activity android:name=".ui.SupplyManagerActivity" />
        <activity android:name=".ui.WantBuyManagerActivity" />
        <activity android:name=".ui.ReleaseSupplyActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.CellPhoneLoginActivity" />
        <activity android:name=".ui.InputInvitationCodeActivity" />
        <activity android:name=".ui.LocalSpokesmanActivity" />
        <activity android:name=".ui.AttestationSuccessActivity" />
        <activity android:name=".ui.MembershipPackageActivity" />
        <activity android:name=".ui.EditNicknameActivity" />
        <activity android:name=".ui.AddressListActivity" />
        <activity android:name=".ui.EditAddressActivity" />
        <activity android:name=".ui.StoreGoodsInfoActivity" />
        <activity android:name=".ui.MyStoreOrderDetailActivity" />
        <activity android:name=".ui.ConfirmMyOrderActivity" />
        <activity android:name=".ui.CommentActivity" />
        <activity android:name=".ui.KuaiDiDetailActivity" />
        <activity android:name=".ui.ApplyRefundActivity" />
        <activity android:name=".ui.UserMoneyActivity" />
        <activity android:name=".ui.BankCardActivity" />
        <activity android:name=".ui.AddBankCardActivity" />
        <activity android:name=".ui.WithDrawActivity" />
        <activity android:name=".ui.TestActivity" />
        <activity android:name=".ui.ShopLogActivity" />
        <activity android:name=".ui.VipJLActivity" />
        <activity android:name=".ui.InComeLogActivity" />
        <activity android:name=".ui.TiQuActivity" />
        <activity android:name=".ui.EditMyOfflineStoreActivity" />
        <activity android:name=".ui.MyOfflineStoreActivity" />
        <activity android:name=".ui.BaojiaUserListActivity" />
        <activity android:name=".ui.BaojiaUserDetailActivity" />
        <activity android:name=".ui.BaseWhiteActivity" />
        <activity android:name=".ui.BaseThemeActivity" />
        <activity android:name=".ui.ConfirmMySupplyOrderActivity" />
        <activity android:name=".ui.MySupplyOrderDetailActivity" />
        <activity android:name=".ui.MySupplyOrderCommentActivity" />
        <activity android:name=".ui.MySupplyOrderRefundActivity" />
        <activity android:name=".ui.ClassfiysActivity" />
        <activity android:name=".ui.SearchResultActivity" />
        <activity android:name=".ui.ReferrerActivity" />
        <activity android:name=".ui.NewsDetailActivity" />
        <activity android:name=".ui.VideoBuyConfirmActivity" />
        <activity android:name=".ui.ShopingCartConfirmActivity" />
        <activity android:name=".ui.MyTeamActivity" />
        <activity android:name=".ui.MapAddressActivity" />
        <activity android:name=".ui.GameActivity" />
        <activity android:name=".ui.UserMsgActivity" />
        <activity android:name=".ui.ServicesChatActivity" />
        <activity android:name=".ui.ImgArticalActivity" />
        <activity android:name=".ui.NotificationDetailActivity" />
        <activity android:name=".ui.NotificationListActivity" />
        <activity android:name=".ui.WebViewActivity" />
        <activity android:name=".ui.DefaultPageActivity" />
        <activity android:name=".ui.StoreActivity" />
        <activity android:name=".ui.ZiZhiActivity" />
        <activity android:name=".ui.ZiZhiInfoActivity" />
        <activity android:name=".ui.ConsultActivity" />
        <activity android:name=".ui.ShowLocationActivity" />
        <activity android:name=".ui.StoreGoodsClassifyActivity" />
        <activity android:name=".ui.HaiBaoActivity" />
        <activity android:name=".ui.LoadingActivity" />
        <activity android:name=".ui.SupplySearchActivity" />
        <activity android:name=".ui.ReportActivity" />
        <activity android:name=".ui.TermsOfServiceActivity" />
        <activity android:name=".ui.Splash2Activity" />
        <activity android:name=".ui.BannerActivity" />
        <activity android:name=".ui.SupplyMessageInfoActivity" />
        <activity android:name=".ui.SYWithDrawActivity" />
        <activity android:name=".ui.OrderFinishActivity" />
        <activity android:name=".ui.MySupplyOrderRefuseActivity" />
        <activity android:name=".tencent.activity.MessageCenterActivity" />
        <activity android:name=".tencent.activity.ChatActivity" />
        <activity android:name=".ui.ServicesListActivity" />
        <activity android:name=".ui.ZjdyrActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx76500efa65d19915" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" /> <!-- 支付宝支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" /> <!-- 启动页面 -->
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 服务类 -->
        <!-- 百度地图服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" /> <!-- 广播类 -->
        <!-- 内容提供器 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <receiver
            android:name=".services.PushReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.zthx.npj" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.PushService"
            android:enabled="true"
            android:exported="true"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <receiver
            android:name=".services.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.zthx.npj" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services.MyJPushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.zthx.npj" />
            </intent-filter>
        </receiver>

        <service
            android:name=".downapk.DownloadService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>